%img#background-image(src='images/background.jpg')
%div#page
  %p#heading Heyooo!
  .profile_picture
    %img( src="http://www.gravatar.com/avatar/9398db831f8cd77ce43662c5f94ebf63?s=300" alt="jonesdeini" id="pic" )

  %p#links
    %a(title='github' href="http://github.com/jonesdeini") Github
    %a(title='twitter' href="http://twitter.com/jonesdeini") Twitter
    %a(title='last.fm' href="http://last.fm/jonesdeini") Last.fm
