%div#post
  %h1 being accountable

  %h2 I work on a team; I am a self-proclaimed team player.

  %p
    My team has a hard time deciding who will be 'in charge' of deploying our application every sprint.
    %br
    We all understand we should deploy to production more frequently, however management requested we move from 1 to 2 week releases.
    %br
    I do not like to volunteer to be 'in charge' of deploying the application.... Sounds like I *am not* a team player, right?
    %br
    %br
    Management tells us to assign and keep track of who was 'in charge' and when.
    %br
    %h4 "Everything is horrible"
    %br
    If something goes wrong during the deploy I will get a message on Skype.
    %br
    I cannot ignore these messages because I feel it's my duty to the team to help out.  However, for me to even receive these messages, one can only assume those 'in charge' of the release have already ignored the messages themselves. My team already makes me feel guilty for not volunteering however I'm always a first responder in crisis time. Perhaps this is my mistake.
    %br
    %h3 *** MY POINT ***
    %br
    Why can't we all be accountable until the application is so easy to deploy that my cats can do it?
    %br
    How can we ever get to that point unless the pain is felt as a team?
    %br
    Why am I made to feel bad for not volunteering when I know I will be among the first points of contact when things go wrong?
    %br
