body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#background-image {
  position: absolute;
  z-index: 1;
}

p#heading {
  overflow: auto;
  position: relative;
  z-index: 2;
  text-align: center;
}
